                                    <!-- ============================================================== -->
                                    <!-- sales  -->
                                    <!-- ============================================================== -->
                                            <div class="card border-3 border-top border-top-primary">
                                                <div class="card-body">
                                                    <h5 class="text-muted">{{myTitle}}</h5>
                                                    <div class="metric-value d-inline-block">
                                                        <h1 class="mb-1">{{myAmount}}</h1>
                                                    </div>
                                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span>
                                                        <span class="ml-1">{{myPercent}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                    <!-- ============================================================== -->
                                    <!-- end sales  -->
                                    <!-- ============================================================== -->